<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.+)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^([A-Za-z\-]+)$" ignoreCase="false" />
                    <action type="Redirect" url="{R:1}/" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^([A-Za-z\-]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^([A-Za-z\-]+)/([A-Za-z\-]+)$" ignoreCase="false" />
                    <action type="Redirect" url="{R:1}/{R:2}/" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^([A-Za-z\-]+)/([A-Za-z\-]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page={R:1}&amp;page2={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^([A-Za-z\-]+)/([A-Za-z\-]+)/([A-Za-z\-_]+)$" ignoreCase="false" />
                    <action type="Redirect" url="{R:1}/{R:2}/{R:3}/" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^([A-Za-z\-]+)/([A-Za-z\-]+)/([A-Za-z\-_]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page={R:1}&amp;page2={R:2}&amp;page3={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
